/** 全局 CSS 变量，这种变量不仅可以在 CSS 和 SCSS 中使用，还可以导入到 JS 中使用 */
:root {
  /** 全局背景色 */
  --wise-body-bg-color: linear-gradient(135deg, #EFF6FE 0%, #DDECFF 100%);
  /** Header 区域 = NavigationBar 组件 + TagsView 组件 */
  --wise-header-height: calc(var(--wise-navigationbar-height) + var(--wise-tagsview-height));
  --wise-header-bg-color: #fff;
  /** NavigationBar 组件 */
  --wise-navigationbar-height: 50px;
  /** Sidebar 组件（左侧模式全部生效、顶部模式全部不生效、混合模式非颜色部分生效） */
  --wise-sidebar-width: 220px;
  --wise-sidebar-hide-width: 58px;
  --wise-sidebar-menu-item-height: 60px;
  --wise-sidebar-menu-tip-line-bg-color: var(--el-color-primary);
  --wise-sidebar-menu-bg-color: #001428;
  --wise-sidebar-menu-hover-bg-color: #409eff10;
  --wise-sidebar-menu-text-color: #c0c4cc;
  --wise-sidebar-menu-active-text-color: #ffffff;
  /** TagsView 组件 */
  --wise-tagsview-height: 34px;
  --wise-tagsview-tag-text-color: #495060;
  --wise-tagsview-tag-active-text-color: #ffffff;
  --wise-tagsview-tag-bg-color: #ffffff;
  --wise-tagsview-tag-active-bg-color: var(--el-color-primary);
  --wise-tagsview-tag-border-radius: 2px;
  --wise-tagsview-tag-border-color: #d8dce5;
  --wise-tagsview-tag-active-border-color: var(--el-color-primary);
  --wise-tagsview-tag-active-before-color: #ffffff;
  --wise-tagsview-tag-icon-hover-bg-color: #00000030;
  --wise-tagsview-tag-icon-hover-color: #ffffff;
  /** RightPanel 组件  */
  --wise-rightpanel-button-bg-color: #001428;
}

/** 内容区放大时，将不需要的组件隐藏 */
body.content-large {
  /** Header 区域 = TagsView 组件 */
  --wise-header-height: var(--wise-tagsview-height);
  /** NavigationBar 组件 */
  --wise-navigationbar-height: 0px;
  /** Sidebar 组件 */
  --wise-sidebar-width: 0px;
  --wise-sidebar-hide-width: 0px;
}
